.Header{
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
    background: #fff;
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
}

.nav-links{
    font-family: Serif,serif;
    color: #1a3c34;
    font-size: 20px;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: .2px;
    margin-left: 15px;
    margin-right: 15px;
}

.DropdownBtn{
    display: inline-block;
}

.DropdownBtn:focus{
    border: none;
}

.DropdownBtn:hover{
    cursor: pointer;
}

.logo{
    /* display: block; */
    text-decoration: none;
    font-family: serif;
    color: #1a3c34;
    font-size: 30px;
    line-height: 1.86;
    letter-spacing: .3px;
    font-weight: 400;
}