.Header{
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
    background: #fff;
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
}

.Header a{
    margin-left: 10px;
    margin-right: 10px;
}

.DropdownBtn{
    display: inline-block;
    
    /* padding: 10px;
    font-family: Helvetica, Arial;
    letter-spacing: 0.2px;
    line-height: 1.5;
    font-size: 18px;
    border: 1px solid rgba(81, 54, 41, .2); */
}

.DropdownBtn:focus{
    border: none;
}

.DropdownBtn:hover{
    cursor: pointer;
}