.Button{
    border: none;
    height: 60px;
    padding: 10px 50px;
    font-weight: bold;
    background: #513629;
    color: #fff;
    margin-right: 50px;
}

.Button:hover{
    cursor: pointer;
    background: #392b24;
    color: #fff;
}

.Disabled{
    background: #edf5e1;
    color: #828081;
}

.Disabled:hover{
    background: #edf5e1;
    color: #828081;
    cursor: not-allowed;
}

.Red{
    background: rgb(162, 43, 42);
    color: #fff;
}

.Red:hover{
    background: #db2528;
}

.Button.Wide{
    width: 100%;
}

/* .Button.Bordered {
    border: 2px solid #05386b;
} */