.Button{
    border: 3px solid #3cc47c;
    height: 60px;
    width: 100px;
    background: #fff;
    font-weight: bold;
    color: #3cc47c;
}

.Button:hover{
    cursor: pointer;
    background: #3cc47c;
    color: #fff;
}

.Disabled{
    border: 3px solid #eee;
    background: #fff;
    color: #828081;
}

.Disabled:hover{
    background: #fff;
    color: #828081;
    cursor: not-allowed;
}

.Red{
    border: 3px solid #f24c4e;
    background: #f24c4e;
    color: #fff;
}

.Red:hover{
    border: 3px solid #db2528;
    background: #db2528;
}

