.ObservationNew{
    color: #645047;
    background: #ebe8e1;
    padding: 30px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Helvetica, Arial;
    font-weight: 600;
}

.form-row{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.map-wrapper {
    position: relative;
    height: 400px;
    margin-top: 5px;
}

.half-width{
    width: 49%;
}

.ObservationNew button{
    margin-top: 40px;
}

.form-small{
    max-width: 40%;
    margin: 0 auto;
}

.form-wide{
    max-width: 70%;
    margin: 0 auto;
}



