.ObservationNew{
    background: #5cdb95;
    padding: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.form-row{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.half-width{
    width: 49%;
}

.ObservationNew button{
    margin-top: 40px;
}

