.Input{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 0;
    min-width: 50%;
}

.Input label{
    color: #645047;
    font-family: Helvetica, Arial;
    font-size: 11px;
    letter-spacing: 0.12em;
    line-height: 2em;
    text-transform: uppercase;
    font-weight: 400;
}

.Input input,
.Input select{
    margin-top: 5px;
    font-weight: lighter;
    color: #645047;
    border: 1px solid #ada197;
    padding: 17px 25px;
    font-family: Helvetica, Arial;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.2px;
    transition: 0.3s;
    background: none;
    box-shadow: none;
}

.Input:focus{
    border: 2px solid #05386b;
}

.Input select:hover{
    cursor: pointer;
}

.Input select{
    width: 100%;
}

.Input textarea{
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ada197;
    background: none;
    width: 100%;
    resize: vertical;
    height: 150px;
}

.Input ::placeholder{
    color: #fff;
    opacity: 0.6;
}

.invalid{
    border: 2px solid #f24c4e !important;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #05386b;
    background: #69e2a0;
    position: absolute;
    right: 10px;
}

/* A few custom styles for date inputs */
input[type="date"] {
    display: flex;
    flex-direction: column;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    color: #fff;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border: 2px solid #fff;
    background:#69e2a0;
    padding: 10px;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.input-error {
    font-size: 0.8em;
}