.Input{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* margin: 10px 0; */
}

.Input label{
    margin: 10px 0;
    color: #fff;
    font-weight: bold;
}

.Input input{
    border: none;
    padding: 15px;
    background: #69e2a0;
    border: 2px solid #fff;
}

.Input:focus{
    border: 2px solid #05386b;
}

.Input select{
    padding: 10px;
    border: 2px solid #fff;
    color: #5cdb95 !important;
}

.Input textarea{
    padding: 10px;
    border: 2px solid #fff;
}

.Input ::placeholder{
    color: #fff;
    opacity: 0.6;
}

.invalid{
    border: 2px solid #f24c4e !important;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
    border: 2px solid #fff;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}