.Input{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 0;
}

.Input label{
    color: #fff;
    margin-bottom: 10px;
}

.Input input{
    border: none;
    /* height: 40px; */
    padding: 15px;
    background: inherit;
    border: 1px solid #eee;
}

.Input select{
    padding: 10px;
}

.Input textarea{
    padding: 10px;
}

.Input ::placeholder{
    color: #eee;
}

.invalid{
    border: 1px solid red !important;
    background-color: rgb(236, 128, 128);
}