.List{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial;
    letter-spacing: 0.2px;
    line-height: 1.5;
    text-transform: capitalize;
}

.List li{
    list-style: none;
    padding: 10px 5px;
    border: 1px solid rgba(81, 54, 41, .2);
    border-bottom: none;
}

.List li:last-child{
    border-bottom: 1px solid rgba(81, 54, 41, .2);
}