.DropdownMenu{
    height: 0;
    width: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 10%;
    background: #fff;
    color: #513629;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    text-transform: uppercase;
    font-size: 10px;
}

.DropdownMenuBtn{
    border: none;
    padding: 10px;
    background: inherit;
    font-size: 16px;
    background: rgb(162, 43, 42);
    color: #fff;
}

.DropdownMenuBtn:hover{
    cursor: pointer;
    /* background: #5cdb95; */
}

.ShowDropdown{
    display: block;
    height: auto;
}

.DropdownMenu ul{
    margin: 0;
    padding: 0;
}

.DropdownMenu li{
    list-style: none;
    padding: 15px;
    /* border-bottom: 1px solid #f1f1f1; */
}

.DropdownMenu li:hover{
    cursor: pointer;
    background-color: #eee;
}

.DropdownMenu li:last-child{
    border: none;
}

.DropdownMenu a{
    font-size: 12px;
    text-decoration: none;
    color: #513629;
}
