.Pagination{
    list-style: none;
    display: flex;
    margin-bottom: 20px; 
    float: right;
}

.Pagination li{
    padding: 14px;
    border: 1px solid #513629;
    border-left: none;
}

.Pagination li:first-child{
    border-left: 1px solid #513629;
}

.Pagination li:hover{
    cursor: pointer;
    background: #ebe8e1;
}

.current-page{
    background: rgb(162, 43, 42);
    color: #fff;
    border: 1px solid rgb(162, 43, 42);
}

.current-page:hover{
    background: rgb(162, 43, 42) !important;
}

.dots{
    border: none !important;
    border-right: 1px solid #513629 !important;
    background: none !important;
}

.dots:hover{
    cursor: default !important;
}

.arrow-disabled{
    color: #828081;
    border: 1px solid #ccc !important; 
}

.arrow-disabled:hover{
    cursor: not-allowed !important;
    background: none !important;
}
