.Navlinks{
    text-decoration: none;
    color: #513629;
    display: inline-block;
    padding: 10px;
    font-family: Helvetica, Arial;
    letter-spacing: 0.2px;
    line-height: 1.5;
    font-size: 18px;
}

.Navlinks:hover{
    color: rgb(162, 43, 42);
}