body {
  margin: 0;
  padding: 0;
  font-family: "apercu",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f1;
  color: #513629;
  transition: all 0.3s ease;
}

h1{
    color: #513629;
}

hr {
  border: 0;
  width: 100%;               
  background-color:rgba(81, 54, 41, .2);
  height: 1px;
}

.pull-right{
  float: right;
}

.text-muted{
  color: #828081;
  margin: 0;
}

.text-small {
  font-size: 0.8em;
}

.margin-top-tiny {
  margin-top: 3px;
}

.input-error{
  color: rgb(162, 43, 42);
}

ul{
  margin: 0;
  padding: 0;
}