body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "apercu",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  color: #24583c;
}

hr {
  border: 0;
  width: 100%;               
  background-color:#eee;
  height: 1px;
}

.pull-right{
  float: right;
}

.text-muted{
  color: #828081;
}

.text-small {
  font-size: 0.8em;
}

.margin-top-tiny {
  margin-top: 3px;
}