.Form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: #ebe8e1
}

.Form.col-2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    flex-direction: column;
    padding: 30px;
    background: #ebe8e1
}

.Form-title.col-2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.two-col-wide {
    grid-column-start: 1;
    grid-column-end: 3;
}

.one-col-wide {
    grid-column-start: 1;
    grid-column-end: 2;
}

.Form h4{
    color: #645047;
}

.Form button{
    margin-top: 20px;
}