.Form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: #5cdb95;
}

.Form.col-2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    flex-direction: column;
    padding: 30px;
    background: #5cdb95;
}

.Form-title.col-2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.two-col-wide {
    grid-column-start: 1;
    grid-column-end: 3;
}

.one-col-wide {
    grid-column-start: 1;
    grid-column-end: 2;
}

.Form h4{
    color: #fff;
}

.Form button{
    margin-top: 20px;
}

.form-field {
    margin-bottom: 10px;
}

.form-field input {
    padding: 5px;
    margin: 3px 0 3px 0;
}

.input-error {
    font-size: 10px;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
/* input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
    border: 2px solid #fff;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
} */